<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Test</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<style>
	 	*{
	 		color: grey;
	 		font-weight: bold;
	 	}
	</style>
</head>
<body>
	<form class="loginForm" role="form" method="post" enctype='multipart/form-data' action="/demo">
    <h2 >上传文件</h2>
    <div class="upload">
    	<span>姓名</span>
    	<input class="stuMsg stu_name" type="text" name="name"  placeholder="姓名" />
    </div>	
     <div class="upload">
    	<span>学号</span>
    	<input class="stuMsg stu_number" type="text" name="number"  placeholder="学号" />
    </div>	
     <div class="upload">
    	<span>性别</span>
    	<input class="stuMsg stu_sex" type="text" name="sex"  placeholder="性别" />
    </div>	
     <div class="upload">
    	<span>年龄</span>
    	<input class="stuMsg stu_age" type="text" name="age"  placeholder="年龄" />
    </div>	
     <div class="upload" id="containimg">
    	<span>头像</span>
    	<input class="stuMsg stu_img" type="file" name="upfiles"  multiple='mutiple' />
    </div>	
     <div class="upload">
    	<input class="stuMsg addmsg" type="submit" value = "录入" />
    </div>	
   
    
</form>
</body>
</html>