<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Test</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<style>
	 	*{
	 		color: grey;
	 		font-weight: bold;
	 	}
	</style>
</head>
<body>
<header>

<h1>welcome to my website</h1>
</header>
<nav>
<span><a class="home" title="主页" href="/">home</a></span>
<span><a class="login" title="登陆" href="/login">login</a></span>
<span><a class="reg" title="注册" href="/reg">register</a></span>
</nav>
<article>

</article>
</body>
</html>